.accomodation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}

.accomodation-overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1240px;
}

.overview-left {
    display: flex;
    flex-direction: column;
}

.accomodation-details {
    max-width: 1240px;
}

.accomodation-title {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10pxz;
    @media screen and (max-width: 380px) {
        font-size: 16px;
    }
}

.accomodation-location {
    margin-bottom: 10px;
}

.overview-right {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    @media screen and (max-width: 455px) {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}
.host-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.host-picture {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.accomodation-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

    & .accordion {
        width: 45%;

        @media screen and (max-width: 455px) {
            width: 100%;
        }
    }
}