.notfound-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.four-o-four {
    font-size: 15vw;
    font-weight: 700;
    margin-bottom: 50px;
}

.four-o-four-details {
    font-size: 3vw;
    margin-bottom: 100px;
}